<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Greeno</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}"
    />
    <!-- style css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
    <!-- Responsive-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/responsive.css') }}"
    />
    <!-- fevicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/images/fevicon.png') }}"
      type="image/gif"
    />
    <!-- Scrollbar Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.min.css') }}"
    />
    <!-- Tweaks for older IEs-->
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"
    />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>
  <!-- body -->
  <body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader">
        <img
          src="{{ url_for('static', filename='assets/images/loading.gif') }}"
          alt="#"
        />
      </div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
      <!-- header inner -->
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="/"
                      ><img
                        src="{{ url_for('static', filename='assets/images/logo.png') }}"
                        alt="#"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu">
                    <ul class="menu-area-main">
                      <li class="active"><a href="#">Home</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end header inner -->
    </header>
    <!-- end header -->
    <!-- deteksi section -->
    <div id="deteksi" class="deteksi">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Deteksi Bunga</h2>
              <span>Unggah gambar bunga untuk mendeteksi jenis bunga</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form
              id="detectionForm"
              action="{{ url_for('detection') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="imageUpload">Unggah Gambar</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="imageUpload"
                  name="image"
                  accept="image/*"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">Deteksi</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="detectionResult" class="result-box">
              {% if result %}
              <h3>Hasil Deteksi:</h3>
              <p><strong>Jenis Bunga:</strong> {{ result['label'] }}</p>
              <p><strong>Akurasinya:</strong> {{ result['accuracy'] }}%</p>
              <img
                src="{{ url_for('static', filename='uploads/' ~ result['image']) }}"
                alt="Detected Flower"
                class="img-fluid"
              />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end deteksi section -->
    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              <center> &copy; 2024 All Rights Reserved. Design by <a href="#">Greeno</a> </center>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  </body>
</html>
