<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Greeno</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css')}}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='assets/images/fevicon.png')}}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{{ url_for('static', filename='assets/images/loading.gif')}}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="index.html"><img src="{{ url_for('static', filename='assets/images/logo.png')}}" alt="#"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="active"> <a href="#">Home</a> </li>
                                 <li> <a href="#about">About</a> </li>
                                 <li><a href="#plant">Plant</a></li>
                                 <li><a href="#gallery">Gallery</a></li>
                                 <li><a href="#contact">Contact Us</a></li>
                                 <li class="last"><a href="#"><img src="{{ url_for('static', filename='assets/images/search_icon.png')}}" alt="icon"/></a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      <section >
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome To The <strong class="color">Greeno</strong></h1>
                              <p>Website ini dapat mendeteksi jenis bunga secara realtime menggunakan video. Teknologi kami memungkinkan Anda untuk mengidentifikasi berbagai macam bunga hanya dengan menggunakan kamera perangkat Anda.</p>
                              <a class="btn btn-lg btn-primary" href="{{ url_for('detectionrealtime')}}" role="button">Deteksi</a>
                              <a class="btn btn-lg btn-primary" href="{{url_for('uploadvideo')}}" role="button">Upload</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{{ url_for('static', filename='assets/images/gyufyufyu.png')}}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i></a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
         </div>
      </section>
      <!-- plant -->
      <div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Our Wonderful plants</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant1.jpg')}}" alt="img"/></figure>
                  <h3>Rosa Indica</h3>
                  <p>Bunga mawar dengan warna yang mencolok dan aroma yang harum, sering digunakan sebagai simbol cinta dan keindahan.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant2.jpg')}}" alt="img"/></figure>
                  <h3>Orchidaceae</h3>
                  <p>Anggrek yang eksotis dengan beragam warna dan bentuk, melambangkan kemewahan dan keanggunan.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant3.jpg')}}" alt="img"/></figure>
                  <h3>Hibiscus Rosa</h3>
                  <p>Bunga kembang sepatu dengan warna merah terang yang menarik, dikenal juga sebagai bunga raya di beberapa daerah.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant1.jpg')}}" alt="img"/></figure>
                  <h3>Lavandula</h3>
                  <p>Bunga lavender dengan warna ungu yang menenangkan dan aroma yang menyegarkan, sering digunakan dalam aromaterapi.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant2.jpg')}}" alt="img"/></figure>
                  <h3>Helianthus Annuus</h3>
                  <p>Bunga matahari yang besar dan cerah, melambangkan kebahagiaan dan kehangatan musim panas.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
               <div class="plants-box">
                  <figure><img src="{{ url_for('static', filename='assets/images/plant3.jpg')}}" alt="img"/></figure>
                  <h3>Nymphaea</h3>
                  <p>Teratai dengan bunga yang indah mengapung di atas air, melambangkan kesucian dan ketenangan.</p>
               </div>
            </div>
         </div>
         
         </div>
      </div>
      <!-- end plant -->
      <!-- about -->
      <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="about-box">
                     <div class="titlepage">
                        <h2>About US</h2>
                        <span>
                          Selamat datang di website kami, tempat di mana Anda dapat menemukan berbagai informasi dan sumber daya tentang tanaman hias. Website ini dirancang untuk membantu Anda memahami lebih dalam tentang berbagai jenis tanaman hias, cara merawatnya, serta manfaat yang dapat Anda peroleh. Kami menyediakan artikel-artikel yang informatif, galeri gambar yang menarik, dan panduan perawatan yang mudah diikuti. Selain itu, Anda juga dapat menemukan tips-tips praktis untuk meningkatkan keindahan dan kesehatan tanaman hias Anda di rumah. Jelajahi konten kami dan temukan inspirasi untuk mempercantik lingkungan Anda dengan tanaman hias yang menawan.
                       </span>                       
                        <div class="read-more">
                           <a  href="#">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!--Gallery -->
      <div id="gallery" class="Gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Our Gallery </h2>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid margin-r-l">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/1.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/1.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/1.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span>  
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/2.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/2.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/1.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/3.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/3.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/3.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/4.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/4.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/4.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span> 
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/5.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/5.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/5.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span> 
                  </figure>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
               <div class="Gallery-box">
                  <figure>
                     <a href="{{ url_for('static', filename='assets/images/6.jpg')}}" class="fancybox" rel="ligthbox">
                     <img  src="{{ url_for('static', filename='assets/images/6.jpg')}}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{{ url_for('static', filename='assets/images/6.jpg')}}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
         </div>
      </div>
      <!-- end Gallery -->
      <!--contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Us</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 paddimg-right">
                  <div class="row">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <form>
                           <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Name" type="text" name="Name">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Email" type="text" name="Email">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Phone" type="text" name="Phone">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <textarea class="textarea>" placeholder="Message" type="text" name="Message"></textarea>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <a href="#">Read More</a>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="map_section">
                           <figure><img src="{{ url_for('static', filename='assets/images/map.jpg')}}"></figure>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 paddimg-left">
                  <div class="Nursery-img">
                     <figure>
                        <img src="{{ url_for('static', filename='assets/images/contactimg.jpg')}}" alt="img"/>
                        <div class="text-box">
                           <h3>Best Green Nursery</h3>
                        </div>
                     </figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!-- footer -->
      <footer>
         <div id="contact" class="footer">
            <div class="container">
               <div class="row pdn-top-30">
                  <div class="col-md-12 ">
                     <div class="footer-box">
                        <div class="headinga">
                           <h3>Address</h3>
                           <span>Kota Tegal, Provinsi Jawa Tengah Indonesia</span>
                           <p>(+71 98765348)</p>
                        </div>
                        <ul class="location_icon">
                           <li> <a href="#"><img src="{{ url_for('static', filename='assets/icon/facebook.png')}}"></a></li>
                           <li> <a href="#"><img src="{{ url_for('static', filename='assets/icon/Twitter.png')}}"></a></li>
                           <li> <a href="#"><img src="{{ url_for('static', filename='assets/icon/linkedin.png')}}"></a></li>
                           <li> <a href="#"><img src="{{ url_for('static', filename='assets/icon/instagram.png')}}"></a></li>
                        </ul>
                        <div class="menu-bottom">
                           <ul class="link">
                              <li> <a href="#">Home</a></li>
                              <li> <a href="#">About</a></li>
                              <li> <a href="#"> Plant</a></li>
                              <li> <a href="#">Gallery</a></li>
                              <li> <a href="#"> Contact us</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <p>Copyright 2024 All Rights Reserved Design By  <a href="#">Avriansyah Bahtiar</a></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static', filename='assets/js/owl.carousel.js') }}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>